<div class="row">
  <div class="col-md-6 offset-3">
    <form (ngSubmit)="addWallet()">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="wallet.name" class="form-control" name="name" type="text">
      </div>
      <ul *ngIf="nameErrors?.length ">
        <li *ngFor=" let passwordError of nameErrors">{{passwordError}}</li>
      </ul>
      <div class="form-group">
        <label>Balance</label>
        <input [(ngModel)]="wallet.balance" class="form-control" name="password" type="balance">
      </div>
      <ul *ngIf="balanceErrors?.length ">
        <li *ngFor=" let passwordError of balanceErrors">{{passwordError}}</li>
      </ul>
      <button class="btn btn-block btn-outline-success" type="submit">Submit</button>
    </form>
  </div>
</div>
