<nav class="navbar navbar-expand-md navbar-dark bg-success">

  <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          Wallet
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/wallet">Wallet list</a>
          <a class="dropdown-item" routerLink="/wallet/add">Add wallet</a>
        </div>
      </li>
    </ul>

    <form class="form-inline">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </form>

  </div>
</nav>

