<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" routerLinkActive="active">

      <li class="nav-item"><a class="nav-link" routerLink="home-component">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="login-component">Login</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="register-component">Register</a></li>

    </ul>
  </div>
</nav>
