<div class="row">
  <div class="col-md-8 offset-2">
    <div *ngIf="wallets.length > 0">
      <h3 class="text-center">Wallet list</h3>
      <table class="table border-success table-striped">
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>Action#1</th>
          <th>Action#2</th>
        </tr>
        <tr *ngFor="let wallet of wallets; let i = index">
          <td>{{wallet.name}}</td>
          <td>{{wallet.balance}}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div *ngIf="wallets.length == 0">
      <h3 class="text-center">You do not have any wallet</h3>
    </div>
  </div>
</div>
